.pl {
  }
  
  .pl-texts {

  }
  
  .pl-title {

  }

  .pl-title-2 {
  }
  

  

/*   
  @media screen and (max-width: 480px) {
    .pl {
      padding: 10px;
    }
  
    .pl-texts {
      width: 100%;
    }
  
    .pl-desc {
      display: none;
    } 
  }
  
  */